.detail-container {
  padding: 0% 5%;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 70px auto 0 auto;

  .back-btn {
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 32px;
    text-decoration-line: underline;
    color: #000000;
    margin-bottom: 30px;
  }

  .pub-info-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 36px 50px 66px 50px;
    background: #FFFFFF;
    border: 2px solid #2C2C2C;
    box-sizing: border-box;
    border-radius: 10px;

    .pub-info-header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .header-left {
        display: flex;
        align-items: center;

        .header-name {
          font-style: normal;
          font-weight: 500;
          font-size: 25px;
          line-height: 32px;
          color: #000000;
        }

        img {
          margin-left: 22px;
          width: 50px;
          height: 50px;
        }
      }

      .header-right {
        display: flex;
        align-items: center;
        gap: 30px;

        .profile-btn, .qualification-btn {
          cursor: pointer;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 26px;
          text-align: center;
          text-decoration-line: underline;
          color: #1F66CD;
        }
      }
    }

    .divider {
      width: 100%;
      height: 2px;
      background-color: #000;
      margin: 18px 0 30px 0;
    }

    .pub-info-body {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .info-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .info-title {
          font-style: normal;
          font-weight: normal;
          font-size: 25px;
          line-height: 32px;
          color: #000000;
          margin-bottom: 17px;
        }

        .info-answer {
          font-style: normal;
          font-weight: 600;
          font-size: 25px;
          line-height: 32px;
          color: #000000;
        }
      }

    }
  }

  .detail-container-text {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 32px;
    color: #000000;
    margin: 100px 0 30px 0;

    .blue {
      color: #2068CD;
    }
  }

  .offer-card {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border: 2px solid #2C2C2C;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 75px 50px 37px 50px;

    .offer-form {
      flex: 1;
      display: flex;
      align-items: stretch;


      .left {
        flex: 1;
        display: flex;
        flex-direction: column;

        .row {
          width: 100%;
          display: flex;
          align-items: center;
          gap: 20px;

          mat-form-field {
            margin-bottom: 15px;
            width: 100px;
            position: relative;
            top: 10px;
          }
        }

        span {
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          color: #000000;
          margin-bottom: 5px;
        }

        .input-container {
          flex: 1;
          display: flex;
          align-content: center;
          justify-content: center;
          padding: 10px 17px;
          background: #FFFFFF;
          border: 1px solid #000000;
          box-sizing: border-box;
          border-radius: 10px;
          margin-bottom: 24px;

          input {
            width: 100%;
            border: none;
            outline: none;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 26px;
            color: #000;
          }
        }
      }

      .right {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        margin-left: 10%;
        // height: 300px;


        span {
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 26px;
          color: #000000;
          margin-bottom: 5px;
        }

        .upload-image-section {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #FFFFFF;
          border: 1px dashed #000000;
          box-sizing: border-box;
          border-radius: 10px;
          margin-bottom: 24px;
          cursor: pointer;

          .upload-image-text {
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 26px;
            text-decoration-line: underline;
            color: #545353;
            text-align: center;
          }

          img {
            width: 80%;
            object-fit: contain;
          }

          input {
            display: none;
          }
        }

      }
    }

    .send-offer-btn {
      align-self: flex-end;
      width: 210px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #2068CD;
      opacity: 0.7;
      border: 1px solid #000000;
      box-sizing: border-box;
      border-radius: 5px;
      padding: 8px 0;
      margin-top: 30px;
      pointer-events: none;

      &.clickeable {
        cursor: pointer;
        pointer-events: unset;
        opacity: 1;

        p {
          opacity: 1;
        }
      }

      p {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 26px;
        text-align: center;
        color: #FFFFFF;
        opacity: 0.7;
      }
    }
  }

  .sucessful-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 2px solid #467143;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 75px 0;
    margin-bottom: 290px;

    p {
      text-align: center;
      font-style: normal;
      font-weight: normal;
      font-size: 25px;
      line-height: 32px;
      text-align: center;
      color: #417846;
    }
  }
}


::ng-deep .mat-form-field-infix {
  border: none;
  padding-top: 0px !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
  opacity: 0.03 !important;
  background-color: #2068CD!important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #2068CD !important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 1em;
}
