<div class="detail-container">

  <p class="back-btn" (click)="backBtnClicked()">< Volver</p>

  <div class="pub-info-card" *ngIf="publication">
    <div class="pub-info-header">
      <div class="header-left">
        <p class="header-name">{{ publication.user.nombre }} {{ publication.user.apellido }}</p>
        <img src="/assets/icons/user-avatar.svg" alt="user">
      </div>
      <div class="header-right">
        <p class="profile-btn" (click)="profileDialogBtnClicked()">Ver perfil</p>
        <p class="qualification-btn" (click)="openQualificationDialog()">Ver sus calificaciones</p>
      </div>
    </div>
    <div class="divider"></div>
    <div class="pub-info-body">
      <div class="info-item">
        <p class="info-title">¿Qué {{ isProduct ? 'ofrece' : 'busca' }}?</p>
        <p class="info-answer">{{ publication.descripcion }}</p>
      </div>
      <div class="info-item">
        <p class="info-title">{{ isProduct ? 'Precio: ' : 'Antes de:' }}</p>
        <p class="info-answer">{{ isProduct ? 'AR$ ' + publication.precio : publication.fecha_limite === '3000-12-31' ? '-' : publication.fecha_limite  }}</p>
      </div>
      <div class="info-item">
        <p class="info-title">¿Por cuánto tiempo?</p>
        <p class="info-answer">{{ publication.cantidad_tiempo }}  {{ publication.unidad_tiempo }}</p>
      </div>
    </div>
  </div>

  <p class="detail-container-text">Lo {{ isProduct ? 'querés' : 'tenés' }}? <span class="blue">{{ isProduct ? 'Alquilalo' : 'Ofrecelo' }}</span></p>

  <div class="offer-card" *ngIf="!showSuccessfulMessage && isProduct !== undefined">
    <div class="offer-form">

      <div class="left">
        <span *ngIf="!isProduct">Monto pretendido (AR$)</span>
        <div *ngIf="!isProduct" class="input-container">
          <input type="text" placeholder="Ej: 500.00" mask="separator.2" thousandSeparator="," [formControl]="amountControl" />
        </div>

        <span *ngIf="!isProduct">Tiempo</span>
        <div class="row" *ngIf="!isProduct">
          <div class="input-container">
            <input type="text" placeholder="Por cuánto tiempo?" mask="999" [formControl]="timeControl" />
          </div>
          <mat-form-field>
            <mat-select [formControl]="timeUnitControl">
              <mat-option value="días">días</mat-option>
              <mat-option value="meses">meses</mat-option>
              <mat-option value="año">año</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <span>Comentario extra</span>
        <div class="input-container">
          <input type="text" placeholder="Ej: Es viejo pero funciona :)" [formControl]="commentControl"/>
        </div>

        <!-- <span>Tu celular</span>
        <div class="input-container">
          <input type="text" placeholder="Ej: (11) 2345-6789" mask="(00) 0000-0000" [formControl]="phoneControl" />
        </div> -->
      </div>

      <div class="right" *ngIf="!isProduct">
        <span>Cargar imagen</span>
        <div class="upload-image-section" (click)="openUploadImageWindow()">
          <p class="upload-image-text" *ngIf="!changedImage">Hacé click para agregar una foto</p>
          <img *ngIf="changedImage" [src]="imageShown" alt="image">
          <input
            #fileUploadInput
            id="image-upload"
            type="file"
            value=""
            accept="image/*"
            (change)="readImage($event)"
          />
        </div>
      </div>
      <div class="right" *ngIf="isProduct">
        <p class="qualification-btn" (click)="openProductQualificationDialog()">Ver calificación del producto</p>
        <div class="upload-image-section">
          <img [src]="publication.foto" alt="image">
        </div>
      </div>

    </div>
    <div class="send-offer-btn" [class.clickeable]="checkIfSendBtnClickeable()" (click)="isProduct ? confirmProposal() : sendProposal()">
      <p>{{ isProduct ? 'Confirmar' : 'Enviar propuesta' }}</p>
    </div>
  </div>

  <div class="sucessful-section" *ngIf="showSuccessfulMessage">
    <p *ngIf="!isProduct">Listo! En caso de que le interese a {{ publication.user.nombre }} {{ publication.user.apellido }},</p>
    <p *ngIf="isProduct">Listo! En caso de que {{ publication.user.nombre }} {{ publication.user.apellido }} acepte la oferta,</p>
    <p>se va a contactar con vos 🚀</p>
  </div>

</div>
