<div class="perfil-container">
    <div class="perfil-card">

      <div class="left">
          <div class="title">
            <p>Mi Perfil</p>
          </div>
          <span>Mail</span>
                <div class="input-container">
                  <input type="text" placeholder="juan@mail.com" [formControl]="mailControl"  />
                </div>
          <span>Nombre</span>
                <div class="input-container">
                  <input type="text" placeholder="Juan" [formControl]="nameControl"  />
                </div>
          <span>Apellido</span>
                <div class="input-container">
                  <input type="text" placeholder="Perez" [formControl]="firstNameControl"  />
                </div>
          <span>Fecha de nacimiento</span>
                <div class="input-container">
                  <input type="text" placeholder="2000/12/31" mask="0000/00/00" [formControl]="birthdateControl"  />
                </div>
          <span>Telefono</span>
                <div class="input-container">
                  <input type="text" placeholder="15098765432" [formControl]="phoneControl" />
                </div>
          <!-- <span>Ubicación</span>
                <div class="input-container">
                  <input type="text" placeholder="Palermo" [formControl]="ubicationControl" />
                </div> -->
            <div class="edit-information-btn" [class.clickeable]="checkIfSendBtnClickeable()" (click)="editUserInfo()">
              <p>Enviar Informacion</p>
            </div>
      </div>
      <div class="right">
        <img src="/assets/icons/user-avatar.svg" alt="user">
        <div class="friend-btn" (click)="openFriendList()">
          <p>Listado de amigos</p>
        </div>
      </div>
</div>
