<div class="perfil-container">
    <div class="perfil-card">

      <div class="left">
          <div class="title">
            <p>Mi Perfil</p>
          </div>
          <span>Mail</span>
                <div class="input-container">
                  <input type="text" placeholder="juan@mail.com" mask="separator.2" thousandSeparator="," [formControl]="amountControl" />
                </div>
          <span>Contraseña</span>
                <div class="input-container">
                  <input type="text" placeholder="********" mask="separator.2" thousandSeparator="," [formControl]="amountControl" />
                </div>
          <span>Nombre</span>
                <div class="input-container">
                  <input type="text" placeholder="Juan" mask="separator.2" thousandSeparator="," [formControl]="amountControl" />
                </div>
          <span>Apellido</span>
                <div class="input-container">
                  <input type="text" placeholder="Perez" mask="separator.2" thousandSeparator="," [formControl]="amountControl" />
                </div>
          <span>Fecha de nacimiento</span>
                <div class="input-container">
                  <input type="text" placeholder="01/01/1990" mask="separator.1" thousandSeparator="," [formControl]="amountControl" />
                </div>
          <span>Telefono</span>
                <div class="input-container">
                  <input type="text" placeholder="15098765432" mask="separator.1" thousandSeparator="," [formControl]="amountControl" />
                </div>
          <span>Ubicación</span>
                <div class="input-container">
                  <input type="text" placeholder="Palermo" mask="separator.1" thousandSeparator="," [formControl]="amountControl" />
                </div>
            <div class="edit-information-btn" [class.clickeable]="checkIfSendBtnClickeable()" (click)="sendProposal()">
              <p>Enviar Informacion</p>
            </div>
      </div>
      <div class="right">
        <img src="/assets/icons/user-avatar.svg" alt="user">
      </div>
</div>
