  // NAVBAR
  .navbar {
    padding: 3% 5% 0 5%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      cursor: pointer;
    }

    .button-section {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 40px;
      position: relative;

      .nav-item {
        text-decoration: underline;
        cursor: pointer;
      }

      img {
        z-index: 10;
      }

      .menu-options {
        width: 300px;
        position: absolute;
        right: 0;
        top: 40px;
        display: flex;
        flex-direction: column;
        padding: 20px 40px;
        background: #FFFFFF;
        border: 2px solid #000000;
        box-sizing: border-box;
        border-radius: 10px;
        z-index: 10;

        .option {
          padding: 14px 0;
          cursor: pointer;

          &.red {
            color: #D83F3F;
          }
        }

        .divider {
          height: 1px;
          width: 100%;
          background-color: #D9D9D9;
        }
      }
    }
  }

  .backdrop-layer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    z-index: 5;
  }
