<div class="container">
    <div class="publications-section">
        <div class="row">
          <h2 class="publication-section-title">
            Mis necesidades
          </h2>
           <div class="choiceContainer">
            <div class="choice">
            <div class="circle" [class.showCompleted]="!showCompleted"></div>
            <div class="pill" [ngClass]="{ active: !showCompleted }" (click)="toggleFilter()">
              <p [class.active]="showCompleted">Activos</p>
            </div>
            <div class="pill" [ngClass]="{ active: showCompleted }" (click)="toggleFilter()">
              <p [class.active]="!showCompleted">Finalizados</p>
            </div>
          </div>
        </div>
        </div>
        <div class="publications" [class.noPublications]="allNeeds.length === 0">
          <app-need-card
              *ngFor="let need of allNeeds"
              [neeData]="need"
          ></app-need-card>
          <p *ngIf="allNeeds.length === 0">Aún no tenés necesidad finalizada.</p>
        </div>
    </div>
</div>
