<div class="container">
  <p class="text bold">Atención</p>
  <p class="text">Si finalizas el ofrecimiento, quiere decir que ya {{ !data.isProduct ? 'devolviste el producto' : 'tenes tu objeto sano y salvo' }} :)</p>

  <p class="text-left">Cómo calificas a {{ data.offer.user.nombre + ' ' +  data.offer.user.apellido }}?</p>
  <div class="row">
    <p class="text-left">Calificación: </p>
    <mat-form-field class="quality">
      <mat-select [formControl]="qualityControl">
        <mat-option [value]="1">1</mat-option>
        <mat-option [value]="2">2</mat-option>
        <mat-option [value]="3">3</mat-option>
        <mat-option [value]="4">4</mat-option>
        <mat-option [value]="5">5</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <textarea cols="20" rows="5" placeholder="Escribí una reseña sobre la persona..." [formControl]="commentControl"></textarea>

  <p class="text-left" *ngIf="!data.isProduct">Cómo calificas al producto de {{ data.offer.user.nombre + ' ' +  data.offer.user.apellido }}?</p>
  <div class="row" *ngIf="!data.isProduct">
    <p class="text-left">Calificación: </p>
    <mat-form-field class="quality">
      <mat-select [formControl]="productQualityControl">
        <mat-option [value]="1">1</mat-option>
        <mat-option [value]="2">2</mat-option>
        <mat-option [value]="3">3</mat-option>
        <mat-option [value]="4">4</mat-option>
        <mat-option [value]="5">5</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <textarea *ngIf="!data.isProduct" [formControl]="productCommentControl" cols="20" rows="5" placeholder="Escribí una reseña sobre el producto..."></textarea>

  <div class="buttons-section">
    <div class="btn success" (click)="closeModal()"><p>Cancelar</p></div>
    <div class="btn completed" (click)="qualify()"><p>Aceptar</p></div>
  </div>
</div>
