<div class="container">
  <p class="text bold">Atención</p>
  <p class="text">Si finalizas el ofrecimiento, quiere decir que ya tenes tu objeto sano y salvo :)</p>

  <p class="text-left">Cómo calificas a Juan Gomez?</p>
  <p class="text-left">Calificación: ⭐️⭐️⭐️⭐️ </p>
  <textarea cols="20" rows="5" placeholder="Escribí una reseña..."></textarea>

  <div class="buttons-section">
    <div class="btn success" (click)="closeModal()"><p>Cancelar</p></div>
    <div class="btn completed" (click)="qualify()"><p>Aceptar</p></div>
  </div>
</div>
