<div class="needs-detail-container">

  <p class="back-btn" (click)="backBtnClicked()">< Volver</p>

  <h2 class="detail-title">Detalle de oferta</h2>

  <div class="needs-detail-section">

      <p class="search-text">Estás {{ isProduct ? 'queriendo' : 'ofreciendo' }}: <span class="bold">{{ publication.descripcion }}</span></p>
      <div class="divider"></div>

      <p class="contact-method">Detalle de oferta</p>

      <div class="offer">
        <p class="name"><span class="bold">¿Quien lo {{ isProduct ? 'pone en alquiler' : 'necesita' }}?</span> {{ publication.user.nombre + ' ' + publication.user.apellido }}</p>
        <p class="amount"><span class="bold">Monto Pretendido:</span> ${{ offer.precio }}</p>
        <p class="extra"><span class="bold">Comentario extra:</span> {{ offer.descripcion }}</p>
        <div class="image-container">
          <img [src]="offer.foto" alt="product" />
        </div>
      </div>

      <p class="contact-method">Métodos de comunicación</p>
      <div class="row">
        <p class="contact"><span class="bold">Teléfono:</span> {{ publication.user.telefono }}</p>
        <p class="whatsapp">
          💬 Hablar por Whatsapp
        </p>
      </div>

      <div *ngIf="showQualificationBtn" class="btn yes" (click)="openSuccessDialog()"><p>Finalizar y calificar</p></div>
      <div *ngIf="!showQualificationBtn" class="btn success"><p>Calificado!</p></div>

  </div>

</div>
