<div class="needs-detail-container">

  <p class="back-btn" (click)="backBtnClicked()">< Volver</p>

  <h2 class="detail-title">Detalle de oferta</h2>

  <div class="needs-detail-section">

      <p class="search-text">Estás ofreciendo: <span class="bold">Martillo</span></p>
      <div class="divider"></div>

      <p class="contact-method">Detalle de oferta</p>

      <div class="offer">
        <p class="name bold">María Sanchez</p>
        <p class="amount"><span class="bold">Monto Pretendido:</span> $3000</p>
        <p class="extra"><span class="bold">Comentario extra:</span> Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum</p>
        <div class="image-container">
          <img src="/assets/images/logo.svg" alt="product" />
        </div>
      </div>

      <p class="contact-method">Métodos de comunicación</p>
      <div class="row">
        <p class="contact"><span class="bold">Teléfono:</span> +54 11 1234 5678</p>
        <p class="whatsapp">
          💬 Hablar por Whatsapp
        </p>
      </div>

      <div class="btn yes" (click)="openSuccessDialog()"><p>Finalizar y calificar</p></div>

  </div>

</div>
