<div class="container">

  <div class="hero-container">

    <div class="hero-info">
      <h2 class="hero-title">{{ heroTitle }}<br><span class="blue">{{ secondaryHeroTitle }}</span></h2>
      <div class="item-container">
        <div class="row">
          <span class="hero-icon">🛠</span>
          <p class="hero-item">Herramientas</p>
        </div>
        <div class="row">
          <span class="hero-icon">🛶</span>
          <p class="hero-item">Artículos de deporte</p>
        </div>
        <div class="row">
          <span class="hero-icon">🚦</span>
          <p class="hero-item">Sarasa</p>
        </div>
        <div class="row">
          <span class="hero-icon">➕</span>
          <p class="hero-item">Y mucho más!</p>
        </div>
      </div>
    </div>

    <div class="search-form-container">

      <div class="search-form">

        <!-- FORM -->
        <div *ngIf="!showSuccessfulForm">

          <h3 class="search-title">¿Qué te gustaría hacer?</h3>

          <p class="label">Quiero</p>
          <div class="choice">
            <div class="circle" [class.isRenting]="isRenting"></div>
            <div class="pill" [ngClass]="{ active: isRenting }" (click)="toggleOperationType('buy')">
              <p [class.active]="isRenting">Alquilar algo</p>
            </div>
            <div class="pill" [ngClass]="{ active: !isRenting }" (click)="toggleOperationType('sell')">
              <p [class.active]="!isRenting">Poner en alquiler</p>
            </div>
          </div>

          <p class="label">Descripción</p>
          <div class="input-container">
            <input type="text" placeholder="Describí el producto" [formControl]="descriptionControl">
          </div>

          <!-- <p class="label">Categoría</p>
          <div class="input-container">
            <input type="text" placeholder="Elegí una categoría" [formControl]="categoryControl" />
          </div> -->

          <p class="label">Tiempo</p>
          <div class="row">
            <div class="input-container">
              <input type="text" placeholder="Por cuánto tiempo?" mask="999" [formControl]="timeControl" />
            </div>
            <mat-form-field>
              <mat-select [formControl]="timeUnitControl">
                <mat-option value="días">días</mat-option>
                <mat-option value="meses">meses</mat-option>
                <mat-option value="año">año</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <p class="label" *ngIf="!isRenting">Precio</p>
          <div class="input-container" *ngIf="!isRenting">
            <input type="text" placeholder="A qué precio?" mask="separator.2" thousandSeparator="," [formControl]="priceControl" />
          </div>

          <!-- SOLO ALQUILAR -->
          <p class="label date" *ngIf="isRenting">Lo necesitás en alguna fecha en especial?</p>
          <div class="date-section" *ngIf="isRenting">
            <div class="date-option" [class.selected]="needForSepacialDate === true" (click)="needForSepacialDate = true"><p>Sí</p></div>
            <div class="date-option" [class.selected]="needForSepacialDate === false" (click)="needForSepacialDate = false"><p>No</p></div>
            <div class="date-selector" *ngIf="needForSepacialDate">
              <input matInput type="text" placeholder="1999/12/31" [formControl]="neededDateControl"/>
            </div>
          </div>

          <!-- SOLO PONER EN ALQUILER -->
          <div class="upload-image-section" (click)="openUploadImageWindow()"  *ngIf="!isRenting">
            <p class="upload-image-text" *ngIf="!changedImage">Hacé click para agregar una foto</p>
            <img *ngIf="changedImage" [src]="imageShown" alt="image">
            <input
              #homeFileUploadInput
              id="image-upload"
              type="file"
              value=""
              accept="image/*"
              (change)="readImage($event)"
            />
          </div>

          <mat-checkbox [formControl]="onlyFriendsControl" class="label friend">Solo mis amigos pueden ver la publicación</mat-checkbox>

          <div class="send-btn" [class.clickeable]="checkSendBtnAvailable()" (click)="isRenting ? sendNeedPublication() : sendProductPublication()">
            <p>Enviar</p>
          </div>

        </div>

        <!-- SUCCESSFUL FORM -->
        <div class="succesful-form" *ngIf="showSuccessfulForm">
          <div class="successful-text-section">
            <p>Tu {{ isRenting ? 'búsqueda' : 'producto' }} ya fue publicad{{ isRenting ? 'a' : 'o' }} 😁</p>
          </div>
          <div class="buttons">
            <div class="publish-btn" (click)="publishOtherPublication()">
              <p>Publicar otr{{ isRenting ? 'a búsqueda' : 'o producto' }}</p>
            </div>
            <p class="view-search-btn" (click)="goToMyNeeds()">Ver mis {{ isRenting ? 'necesidades' : 'productos' }}</p>
          </div>

        </div>


      </div>

    </div>

  </div>

  <div class="publications-section">
    <div class="row">
      <h2 class="publication-section-title">
        {{ listTitle }}<br>
        <span class="bold">{{ isProduct ? 'Lo querés?' : 'Lo tenés?' }}</span>
        <span class="blue">{{ isProduct ? ' Alquilalo!' : ' Ofreceselos!' }}</span>
      </h2>
      <div class="choice">
        <div class="circle" [class.isRenting]="!isProduct"></div>
        <div class="pill" [ngClass]="{ active: !isProduct }" (click)="toggleListType('need')">
          <p [class.active]="isRenting">Pedidos</p>
        </div>
        <div class="pill" [ngClass]="{ active: isProduct }" (click)="toggleListType('product')">
          <p [class.active]="isProduct">Productos</p>
        </div>
      </div>
    </div>
    <div class="publications">
      <app-publication-card
        *ngFor="let publication of allPublications"
        [pubData]="publication"
        [isProduct]="isProduct"
      ></app-publication-card>
    </div>
    <div class="paginator">
      <p
        class="blue btn"
        [class.disabled]="publicationService.publicationsPageInfo.value.currentPage === 1"
        (click)="getPreviousPage()"
      >
        < Anterior
      </p>
      <p>
        <span class="blue">{{ publicationService.publicationsPageInfo.value.currentPage }}</span> <span class="gray secondary-page">
          de
          {{ publicationService.publicationsPageInfo.value.totalPages }}
        </span>
      </p>
      <p class="blue btn" [class.disabled]="publicationService.publicationsPageInfo.value.currentPage === publicationService.publicationsPageInfo.value.totalPages">Siguiente ></p>
    </div>
  </div>

</div>
