<div class="dialog-container">

  <div class="qualification-info-header">
    <div class="header-left">
      <p class="header-name">{{ publication.descripcion }}</p>
      <p class="owner-name">de {{ publication.user.nombre + ' ' + publication.user.apellido }}</p>
    </div>
  </div>

  <div class="qualification-body" *ngIf="publication.calificaciones">
    <div class="qualification" *ngFor="let qualityUser of publication.calificaciones">
      <div class="row">
        <!-- <p class="name">{{ qualityUser.nombre }} {{ qualityUser.apellido }}</p> -->
        <!-- <img src="/assets/icons/user-avatar.svg" alt="user"> -->
      </div>
      <p class="score"><span class="bold">Calificación:</span> {{ '⭐️'.repeat(qualityUser.calificacion) }}</p>
      <p class="review"><span class="bold">Reseñas:</span> {{ qualityUser.comentarios }}</p>
      <div class="separator"></div>
    </div>
  </div>

  <p *ngIf="!publication.calificaciones || publication.calificaciones?.length === 0">Aún no tiene calificación</p>

  <div class="close-btn" (click)="closeBtnClicked()">
    <p>Cerrar</p>
  </div>

</div>
