
<div class="card-container">

  <div class="card-header">
    <p>{{ pubData.user.nombre }} {{ pubData.user.apellido }}</p>
    <img src="/assets/icons/user-avatar.svg" alt="user">
  </div>

  <div class="divider"></div>

  <div class="product-info">

    <p class="title">Qué busca?</p>
    <p class="answer">{{ pubData.descripcion }}</p>

    <p class="title">Antes de:</p>
    <p class="answer">{{ pubData.fecha_limite === '3000-12-31' ? '-' : pubData.fecha_limite }}</p>

  </div>

  <div class="buttons-section">
    <!-- <div class="btn" (click)="removeCard()"><p>No lo tengo</p></div> -->
    <div class="btn yes" (click)="goToDetail()"><p>Lo tengo!</p></div>
  </div>

</div>
