
<div class="card-container">

  <div class="card-header">
    <p>Juan Goméz</p>
    <img src="/assets/icons/user-avatar.svg" alt="user">
  </div>

  <div class="divider"></div>

  <div class="product-info">

    <p class="title">Qué busca?</p>
    <p class="answer">Martillo</p>

    <p class="title">Antes de:</p>
    <p class="answer">10/11/2021</p>

  </div>

  <div class="buttons-section">
    <div class="btn"><p>No lo tengo</p></div>
    <div class="btn yes"><p>Lo tengo!</p></div>
  </div>

</div>
