.container {
  display: flex;
  flex-direction: column;

  span {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    margin-bottom: 10px;
  }

  .input-container {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 10px 17px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 24px;

    input {
      width: 100%;
      border: none;
      outline: none;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 26px;
      color: #000;
    }
  }

  .add-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1F66CD;
    opacity: 0.7;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 8px 0;
    margin-top: 10px;
    pointer-events: none;

    &.clickeable {
      cursor: pointer;
      pointer-events: unset;
      opacity: 1;

      p {
        opacity: 1;
      }
    }

    p {
      color: #fff;
    }
  }
}
