<div class="container">
  <div class="publications-section">
      <div class="row">
        <h2 class="publication-section-title">
         Mis ofrecimientos
        </h2>
         <!-- <div class="choiceContainer">
          <div class="choice">
          <div class="circle" [class.showCompleted]="showCompleted"></div>
          <div class="pill" [ngClass]="{ active: showCompleted }" (click)="toggleFilter()">
            <p [class.active]="showCompleted">Activos</p>
          </div>
          <div class="pill" [ngClass]="{ active: !showCompleted }" (click)="toggleFilter()">
            <p [class.active]="!showCompleted">Finalizados</p>
          </div>
        </div>
      </div> -->
      </div>
      <div class="publications">
        <app-offer-card
            *ngFor="let need of offerService.allOffers.value"
            [neeData]="need"
        ></app-offer-card>
      </div>
      <div class="paginator">
        <p
          class="blue btn"
          [class.disabled]="offerService.offersPageInfo.value.currentPage === 1"
          (click)="getPreviousPage()"
        >
          < Anterior
        </p>
        <p>
          <span class="blue">{{ offerService.offersPageInfo.value.currentPage }}</span> <span class="gray secondary-page">
            de
            {{ offerService.offersPageInfo.value.totalPages }}
          </span>
        </p>
        <p class="blue btn" [class.disabled]="offerService.offersPageInfo.value.currentPage === offerService.offersPageInfo.value.totalPages" (click)="getNextPage()">Siguiente ></p>
      </div>
  </div>
</div>
